In [2]:
import kagglehub
# Download latest version
path = kagglehub.dataset_download("sukhmandeepsinghbrar/house-prices-india")
print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/sukhmandeepsinghbrar/house-prices-india?dataset_version_number=1...

100%|██████████| 480k/480k [00:00<00:00, 1.09MB/s]

Extracting files...
Path to dataset files: C:\Users\lamas\.cache\kagglehub\datasets\sukhmandeepsinghbrar\house-prices-india\versions\1

In [14]:
import pandas as pd
import os
import numpy as np
df = pd.read_csv(os.path.join(path, "House Price India.csv"))
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
1,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
2,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
3,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
4,6762813105,42491,3,2.50,2600,4750,1.0,0,0,4,...,1951,0,122007,52.9133,-114.590,2380,4750,1,67,790000

In [4]:
df.sample(5)

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
11166,6762830805,42664,2,0.75,780,5000,1.0,0,0,4,...,1945,0,122046,52.6720,-114.295,1620,30847,2,74,200000
9124,6762818456,42630,4,1.75,1650,8560,1.0,0,0,3,...,1970,0,122005,52.8952,-114.336,1700,8560,2,80,525000
846,6762815147,42505,5,3.25,3690,12353,2.0,0,0,5,...,1977,0,122014,52.9972,-114.482,2290,9082,1,63,655000
1299,6762810747,42512,4,3.00,3370,5432,1.0,0,3,3,...,1988,0,122007,52.9073,-114.593,2730,7380,1,69,1330000
12889,6762819591,42694,3,1.75,2180,14734,2.0,0,0,3,...,1990,0,122025,52.7131,-113.957,2300,21618,3,76,488000

In [5]:
df.isna().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

## Preprocesamiento para variables categóricas

Principalmente se usa un OneEncoding/LabelEncoding, el trato suele ser muy similar en todos los casos en los que se trabaja con ellas.
Transformar una columna entera a categorica: 
df["Postal_Code_Categorica"] = pd.Cateogrixal(df["postal_Code"])

In [7]:
df["Postal Code"].value_counts(normalize=True)

Postal Code
122028    0.029551
122005    0.028456
122006    0.027156
122007    0.027088
122033    0.026199
            ...
122013    0.005267
122062    0.004241
122036    0.003352
122060    0.002668
122071    0.002531
Name: proportion, Length: 70, dtype: float64

Media realizada agrupando por CP, en el entregable realziar lo mismo por modelo/tipo de combustible

In [8]:
df.groupby(["Postal Code"])["Price"].mean()

Postal Code
122003    8.384710e+05
122004    8.398533e+05
122005    6.389622e+05
122006    6.136386e+05
122007    5.728347e+05
              ...
122068    3.153815e+05
122069    4.812247e+05
122070    2.799618e+05
122071    2.348311e+06
122072    2.342158e+05
Name: Price, Length: 70, dtype: float64

In [16]:
df["Postal_code_mean_price"]= df.groupby(["Postal Code"])["Price"].transform("mean")

Sustituir los nulos por valores deseados

In [17]:
df["Price"]=np.where(
    df["Price"].isna(),
    df["Postal_code_mean_price"],
    df["Price"]
)

In [18]:
df

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price,Postal_code_mean_price
0,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,0,122004,52.8878,-114.470,2470,4000,2,51,1400000.0,839853.280255
1,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,0,122004,52.8852,-114.468,2940,6600,1,53,1200000.0,839853.280255
2,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,0,122005,52.9532,-114.321,3350,42847,3,76,838000.0,638962.223558
3,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,0,122006,52.9047,-114.485,2060,4500,1,51,805000.0,613638.622166
4,6762813105,42491,3,2.50,2600,4750,1.0,0,0,4,...,0,122007,52.9133,-114.590,2380,4750,1,67,790000.0,572834.671717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14614,6762830250,42734,2,1.50,1556,20000,1.0,0,0,4,...,0,122066,52.6191,-114.472,2250,17286,3,76,221700.0,248700.344828
14615,6762830339,42734,3,2.00,1680,7000,1.5,0,0,4,...,0,122072,52.5075,-114.393,1540,7480,3,59,219200.0,234215.780303
14616,6762830618,42734,2,1.00,1070,6120,1.0,0,0,3,...,0,122056,52.7289,-114.507,1130,6120,2,64,209000.0,233594.957447
14617,6762830709,42734,4,1.00,1030,6621,1.0,0,0,4,...,0,122042,52.7157,-114.411,1420,6631,3,54,205000.0,298219.325581
14618,6762831463,42734,3,1.00,900,4770,1.0,0,0,3,...,2009,122018,52.5338,-114.552,900,3480,2,55,146000.0,286667.937313